{% extends 'base.html.twig' %}

{% block title %}{{ 'Change Password'|trans }} - {{ parent() }}{% endblock %}

{% block page_stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 mb-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">{{ 'Dashboard'|trans }}</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_profile') }}">{{ 'My Profile'|trans }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ 'Change Password'|trans }}</li>
                </ol>
            </nav>
        </div>
        
        <div class="col-lg-6 mx-auto">
            <div class="password-card">
                <div class="password-header">
                    <h1 class="password-title">{{ 'Change Your Password'|trans }}</h1>
                </div>
                
                <div class="password-content">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    
                    <div class="password-rules">
                        <h5>{{ 'Password Requirements'|trans }}</h5>
                        <ul>
                            <li>{{ 'At least 8 characters long'|trans }}</li>
                            <li>{{ 'Include at least one uppercase letter'|trans }}</li>
                            <li>{{ 'Include at least one lowercase letter'|trans }}</li>
                            <li>{{ 'Include at least one number'|trans }}</li>
                            <li>{{ 'Include at least one special character (. @ $ ! % * ? &)'|trans }}</li>
                            <li>{{ 'Avoid using easily guessable information'|trans }}</li>
                        </ul>
                    </div>
                    
                    {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.currentPassword) }}
                            {{ form_widget(form.currentPassword) }}
                            {{ form_errors(form.currentPassword) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.newPassword.first) }}
                            {{ form_widget(form.newPassword.first) }}
                            {{ form_errors(form.newPassword.first) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.newPassword.second) }}
                            {{ form_widget(form.newPassword.second) }}
                            {{ form_errors(form.newPassword.second) }}
                        </div>
                        
                        <div class="form-actions">
                            <a href="{{ path('app_profile') }}" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> {{ 'Back to Profile'|trans }}
                            </a>
                            <button type="submit" class="btn btn-gradient">
                                <i class="fas fa-key"></i> {{ 'Update Password'|trans }}
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}